<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">

    <!-- Botón hamburguesa a la izquierda -->
    <button
      class="navbar-toggler me-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCafe"
      aria-controls="navbarCafe"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Logo -->
    <a class="navbar-brand" routerLink="/">☕ Café al Paso</a>

    <!-- Menú -->
    <div class="collapse navbar-collapse" id="navbarCafe">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cafe">Café al paso</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/chocolates">Chocolates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/box">Box</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cookies">Cookies</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
