:host {
  display: block;
  min-height: 100%;
  background-color: var(--color-ink);
}

main {
  min-height: 50vh;
  padding-top: var(--nav-height);
}

:host-context(body:has(.hero)) main,
main:has(.hero) {
  padding-top: 0;
}
